.font_thai{
    font-family: "Mitr", serif;
    font-weight: 300;
    font-style: normal;
}
.menu-title, .summary-title {
    font-size: 5em;
    top: 5%;
    margin-bottom: -50px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#summary-text {
    font-size: 4em;
    margin-bottom: 20px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.menu-button, .summary-button {
    padding: 15px 30px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    
}

.menu-button:hover, .summary-button:hover {
    background-color: #45a049;
}

.btn_menu{
    background-color: #000000;
    color: #58E191;
    border: 3px solid #58E191;
    width: 20%;
    height: 10%;
    margin-top: 5%;
    justify-items: center;
    align-items: center;
    align-self: center;
    font-weight: bold;
    font-size: medium;
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3vw;
    transition: background-color 0.1s, transform 0.1s;
}

.btn_menu:hover {
    background-color: #58E191;
    color: #0e0000;
    cursor: pointer;
    transform: scale(1.05);
}

.btn_menu:active {
    background-color: #58E191;
    color: #0e0000;
    cursor: pointer;
    transform: scale(0.95);
}
